html{
    scroll-behavior: smooth;
}
body{
    background: rgb(254, 254, 255);
}
#code-bg{
    background: #ccc;
    width: 96%;
    margin: 0 auto;
    border-radius: 3px;
}
header{
    font-weight: bold;
    font-size: 23px;
    
}
.nav-link{
    text-decoration: none;
    color: black;
}
nav{
    text-align: center;
}
#main-doc{
    position: relative;
    top: 30px;
    line-height: 1.6rem;
}
#nav-head{
    position: relative;
    top: 11px;
    font-size: 23.7px;
}
p, li{
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}


