html{
    scroll-behavior: smooth;
}
body{
    background: rgb(254, 254, 255);
    width: 100%
}
html body{
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
#code-bg{
    background: #ccc;
    width: 96%;
    margin: 0 auto;
    border-radius: 3px;
}
main{
    margin: 0 auto;
}
header{
    font-weight: bold;
    font-size: 23px;
    
}
.nav-link{
    text-decoration: none;
    color: rgb(72, 72, 82);

}
nav{
    text-align: center;
}
#main-doc{
    position: relative;
    top: 30px;
    line-height: 1.6rem;
}
#nav-head{
    position: relative;
    top: 11px;
    font-size: 23.7px;
}
p, li{
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

@media screen and (min-width: 1024px){
    
    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        border-right: 3px solid rgb(123, 123, 126);
    }
    nav{
        width: 20%;
    }
    main{
        width: 75%;
        margin-left: 25%;
    }
    #nav-head{
        font-size: 30px;
    }
    header{
        font-size: 29px;
    }
    .nav-link{
    font-size: 17px;
}
}

